// brand and logo colors
$green-primary: #fddf59; // brand green
$gray-primary: #333333; // brand gray
$gray-secondary: #212121; // shadows gray


// text colors
$text-primary: #3d3c51;
$text-secondary: #3d3c51;

$bg-primary: #8C52FF;

$text-white: #fff;
